{% load staticfiles %}
{% block copyright %}
<!-- START COPYRIGHT -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg footer">
  <div class="copyright sm-text-center">
    <p class="small no-margin pull-left sm-pull-reset">
      <span class="hint-text">Copyright © 2015 </span>
      <span class="font-montserrat">ELITE Consultores</span>.
      <span class="hint-text">Todos direitos reservados. </span>
      <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Termos de uso</a> | <a href="#" class="m-l-10">Política de Privacidade</a></span>
    </p>
    <p class="small no-margin pull-right sm-pull-reset">
      <a href="#">Swaag Technology</a> <span class="hint-text">&amp; Made with Boldness and Joy ®</span>
    </p>
    <div class="clearfix"></div>
  </div>
</div>
<!-- END COPYRIGHT -->
{% endblock %}