{% load staticfiles %}
{% block sidebar-painel %}
<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
  <!-- BEGIN SIDEBAR MENU HEADER-->
  <div class="sidebar-header">
    <img src="{% static "img/logo_white.png" %}" alt="logo" class="brand" data-src="{% static "img/logo_white.png" %}" data-src-retina="{% static "img/logo_white_2x.png" %}" width="78" height="22">
    <div class="sidebar-header-controls">
      <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
      </button>
      <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
      </button>
    </div>
  </div>
  <!-- END SIDEBAR MENU HEADER-->
  <!-- START SIDEBAR MENU -->
  <div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
      <li class="m-t-30 open">
        <a href="index.html" class="detailed">
          <span class="title">Dashboard</span>
          <span class="details">12 New Updates</span>
        </a>
        <span class="icon-thumbnail bg-success"><i class="pg-home"></i></span>
      </li>
      <li class="">
        <a href="email.html" class="detailed">
          <span class="title">Email</span>
          <span class="details">234 New Emails</span>
        </a>
        <span class="icon-thumbnail "><i class="pg-mail"></i></span>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBPANEL-->
{% endblock %}