{% extends "base/base.html" %}

{% block title %}
SPED Read - Admin
{% endblock %}

{% block sidebar-painel %}
{% include "base/sidebar-painel.html" %}
{% endblock %}
    
{% block page-container %}
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
      {% block header %}
      {% include "base/header.html" %}
      {% endblock %}

      {% block page-content-wrapper %}
        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
            {% block page-content %}
                <!-- START PAGE CONTENT -->
                <div class="content">
                  <!-- START JUMBOTRON -->
                  <div class="jumbotron" data-pages="parallax">
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                      <div class="inner">
                        <!-- START BREADCRUMB -->
                        <ul class="breadcrumb">
                          <li>
                            <a href="#">Home</a>
                          </li>
                          <li><a href="#" class="active">Upload SPED</a>
                          </li>
                        </ul>
                        <!-- END BREADCRUMB -->
                      </div>
                    </div>
                  </div>
                  <!-- END JUMBOTRON -->
                  <!-- START CONTAINER FLUID -->
                  <div class="container-fluid container-fixed-lg">
                    <div class="row">
                      <div class="col-md-6">
                        <!-- START PANEL -->
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <div class="panel-title">
                              Drag n' drop uploader
                            </div>
                            <div class="tools">
                              <a class="collapse" href="javascript:;"></a>
                              <a class="config" data-toggle="modal" href="#grid-config"></a>
                              <a class="reload" href="javascript:;"></a>
                              <a class="remove" href="javascript:;"></a>
                            </div>
                          </div>
                          <div class="panel-body no-scroll no-padding">
                            <form action="/file-upload" class="dropzone no-margin">
                              <div class="fallback">
                                <input name="file" type="file" multiple />
                              </div>
                            </form>
                          </div>
                        </div>
                        <!-- END PANEL -->
                      </div>
                      <div class="col-md-6">
                        <!-- START PANEL -->
                        <canvas id="myChart" width="500" height="400"></canvas>
                        <!-- END PANEL -->
                      </div>
                    </div>      
                  </div>
                </div>
                <!-- END PAGE CONTENT -->
            {% endblock %}

            {% block copyright %}
            {% include "base/copyright.html" %}
            {% endblock %}
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
      {% endblock %}
    </div>
    <!-- END PAGE CONTAINER -->
{% endblock %}